/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 8, 2016, 8:43:19 AM
    Author     : TIA.WICAKSONO
*/

.text-besar {
    text-transform: uppercase;
}
.btn-white{
    background-color: #ffffff;
}
.datagrid-header-row .datagrid-cell {
    font-weight: bold;
    text-align: center !important;
}
.datagrid-cell{
    padding: 4px !important;
}
.form-control{
    /*background-color: #eaeae1 !important;*/
    font-weight: bold !important;
    color: #fe4e52 !important;
}
.box-body{
    background-color: #f0f5fa !important;
}
.box-header{
    /*background-color: #357ca5 !important;*/
    background-color: #3c8dbc !important;
}
/*.with-border{
    border-bottom:1px solid #bbc3cd !important;
}*/
.content{
    background-color: #FFF !important;
}
.content-wrapper{
    background-color: #FFF !important;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color: #d7d7d7 !important;
    /*color : white !important;*/
    opacity: 1 !important;
}
/*#tgl_search{
    color: white !important;
}*/
.box-title{
    font-weight: bold !important;
    color: #FFF !important;
}
.wajib-isi{
    border: solid 1.2px #F00 !important;
    /*background-color:#73e600 !important;*/
    color: #F00 !important;
    font-weight: bold;
}
.tengah{
    text-align: center;
    vertical-align: middle;
}
.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}
#overlay {
    background: #000000;
    opacity:0.5;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
#popup {
    background: url("../images/loading-smooth.gif") no-repeat scroll center center #FFF;
    opacity:0.3;
    width: 130px;
    height:130px;
    position: fixed;
    text-align: center;
    top: 28%;
    left:45%;
    -moz-border-radius: 45px;
    border-radius: 45px;
    z-index: 9999;
}
.input-group-btn select {
    border-color: #ccc;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 7px;
    padding-bottom: 6px;
}