.dotsandlines {
    display: table;
    width: 100%;
}
.circle-contain, .line {
    display: table-cell;
}
.circle-contain {
    width: 1px;
}
.circle {
    background: #0af;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    position: relative;
    top: 32.5px;
}
.line {
    border-bottom: 1px solid #0af;
}
.line.special {
    border-bottom: 1px solid #03b;
}
.circle.special {
    background: #03b;
}
.circle.big {
    width: 50px;
    height: 50px;
    top: 25px;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    margin-top: 15px;
    border-bottom:none;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 3px !important;
    vertical-align: middle !important;
}

.nav-pills > li > a {
    border-radius: 5px !important;
}