/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 1, 2016, 3:12:28 PM
    Author     : TIA.WICAKSONO
*/
.table-striped thead tr th{
   text-align: center;
}
.tengah{
   text-align: center;
}
