/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 29, 2016, 10:02:06 AM
    Author     : TIA.WICAKSONO
*/
label.control-label{
    text-align: left !important;
}
ul.keterangan{
    margin-left: -30px;
    list-style: none;
    font-weight: bold;
}
/*ol{
    list-style: none;
    font-weight: bold;
}*/
.keterangan ol li{
    font-weight: normal;
}
.attachment {
    background: #f4f4f4 none repeat scroll 0 0;
    border-radius: 3px;
    padding: 10px;
    margin: 5px;
}